name: Build
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  sonarqube:
    name: SonarQube
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
        with:
            fetch-depth: 0
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4' # Not needed with a .ruby-version, .tool-versions or mise.toml
          # bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Install slather
        run: gem install slather
      - name: Build and test, collect coverage
        run: xcodebuild clean build test -project CodecovDemo.xcodeproj -scheme CodecovDemo -destination 'platform=iOS Simulator,name=iPhone 17,OS=26.1' -enableCodeCoverage YES
      - name: Convert xcresult coverage to SonarQube coverage format
        run:  slather coverage --sonarqube-xml --scheme CodecovDemo ./CodecovDemo.xcodeproj   
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v7
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.swift.coverage.reportPaths=sonarqube-generic-coverage.xml
